/* http://meyerweb.com/eric/tools/css/reset/ 
	v2.0 | 20110126
	License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1; 
	/* 스크롤 없애기 */
	-ms-overflow-style: none;
	scrollbar-width: none;
}
/* 스크롤 없애기 */
::-webkit-scrollbar {
 display: none;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* font */

/* ko-font */
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/* en-font */
/* font-family: 'Montserrat', sans-serif; */


/* 한 페이지씩 넘기기 위한 기초 작업 */
html, body {width: 100%; height: 100%;}
section {
    height: 100vh;
}

/* body */
body {
	background-color: #f6f6f6;
}

/* nav bar */
header {
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 50;
	background-color:#f6f6f6de;
}
nav {
    width: 1200px;
	margin: 0 auto;
    top: 0;
    left: 0;
    height: 4rem;
	display: flex;
	align-items: center;
}

.nav_web_logo {
	width: 15rem;
	height: auto;
	margin-left: 1rem;
}

.nav_mobile_logo {
	display: none;
}

/* apply */
.apply {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.apply p {
	position: absolute;
	font-family: 'Pretendard-Regular';
	width: 1200px;
	height: 500px;
	top: 250px;
	font-size: 60px;
	z-index: 1;
	text-align: center;
	color: #fff;
	line-height: 150%;
}

.apply_btn {
	z-index: 1;
	position: absolute;
	bottom: 200px;
	width: 200px;
	height: 50px;
	background: #FF7710;
	border: none;
	color: #fff;
	font-size: 20px;
	border-radius: 50px;
	cursor: pointer;
	text-align: center;
}

/* information */
.information, .curriculum {
	width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.padding-option__column {
	display: flex;
	flex-direction: column;
	gap: 30px;
	width: 100%;
}
.padding-option__row {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
	width: 100%;
	height: 80%;
}
.sub_title {
	font-family: 'Pretendard-Regular';
	font-size: 40px;
}
.activity_card {
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-gap: 20px;
	width: 100%;
}
.activity-description {
	width: 480px;
	height: 200px;
	padding: 50px;
	font-family: 'Pretendard-Regular';
	display: flex;
	flex-direction: column;
	gap: 50px;
	margin: 0 auto;
}
.box__style {
	border-radius: 10px;
	background: #fff;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	word-break: keep-all;
}
.activity-description span {
	font-size: 40px;
}
.activity-description p {
	font-size: 20px;
	line-height: 120%;
}

/* who_when */
.who_when {
	width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}
.who-section {
	width: 550px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 100px;
	height: 100%;
}
.who_card {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-gap: 20px; 
	align-items: center;
	justify-items: center;
}
.who-description {
	width: 150px;
	height: 150px;
	padding: 50px;
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: center;
}
.who-description span{
	font-size: 40px;
}
.who-description p {
	font-size: 25px;
}
.when-section {
	width: 550px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	gap: 70px;
	height: 100%;
}
.when_card {
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: center;
}
.when-description {
	display: flex;
	align-items: center;
	height: 20px;
	border-radius: 50px;
	padding: 20px;
	line-height: 120%;
}
#triangle {
	width: 0;
	height: 0;
	margin: 0 auto;
	border-top: 30px solid lightgray;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	opacity: 0.5;
}

/* curriculum */
.curriculum-ex {
	color: gray;
}
.curriculum-card {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;
	width: 90%;
	justify-items: center;
	margin: 0 auto;
}
.curriculum__box {
	width: 85%;
	height: 140px;
	padding: 30px;
}
.curriculum-description {
	display: flex;
	flex-direction: column;
	gap: 30px;
}
.curriculum-description span {
	font-size: 30px;
}
.curriculum-description p {
	font-size: 20px;
}
.curriculum-img {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	color: #fff;
}
.curriculum-img span {
	z-index: 1;
	font-size: 50px;
}
.curriculum-img img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
	overflow: hidden;
	border-radius: 10px;
	filter: brightness(50%)
}

@media (max-width: 1200px) {
	.apply p {
		font-size: 40px;
		height: 300px;
		width: 600px;
	}
	.sub_title {
		font-size: 30px;
	}
	.information, .who_when, .curriculum {
		width: 600px;
		height: auto;
	}
	.activity_card {
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(1, 1fr);
		grid-gap: 20px;
	}
	.padding-option__row {
		flex-direction: column;
		padding-top: 100px;
		gap: 100px;
	}

	.padding-option__column {
		padding-top: 100px;
	}
	.who-section, .when-section {
		gap: 30px;
		width: 100%;
	}
	.curriculum-card {
		width: 100%;
	}
	.curriculum-description span {
		font-size: 25px;
	}
	.curriculum-description p {
		font-size: 15px;
	}
	.curriculum-img span {
		font-size: 20px;
	}
}
@media (max-width: 600px){

	nav {
		width: 10%;
		height: 3rem;
		justify-content: center;
	}
	.nav_web_logo {
		display: none;
	}

	.nav_mobile_logo {
		display: flex;
		width: 2.5rem;
		height: auto;
	}
	.apply p {
		font-size: 30px;
		height: 200px;
		width: 280px;
		word-break: keep-all;
	}
	.information, .who_when, .curriculum {
		width: 90%;
	}
	.activity-description {
		width: 60%;
		height: 200px;
		gap: 40px;
		padding: 30px;
		justify-content: space-evenly
	}
	.activity-description span {
		font-size: 20px;
	}
	.activity-description p {
		font-size: 15px;
	}
	.sub_title {
		font-size: 20px;
	}
	.who-description {
		width: 80%;
		padding: 0 10%;
	}
	.who-description span, .who-description p{
		font-size: 20px;
	}
	.who_card {
		width: 100%;
	}
	.when-description {
		height: 20px;
	}
	#triangle {
		border-top: 20px solid lightgray;
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
	}
	.curriculum-card {
		width: 90%;
		gap: 10px;
	}
	.curriculum__box {
		padding: 10px;
	}
	.curriculum-description {
		justify-content: center;
		gap: 20px;
	}
	.curriculum-description span {
		font-size: 15px;
	}
	.curriculum-description p {
		font-size: 10px;
	}
}