{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>LikeLion_Skhu</title>
	<!-- font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
		<nav><!--민정--></nav>
		<section class="typography"></section>
		<section class="information"></section>
		<section class="who_when"></section>
		<section class="curriculum"></section>
		<section class="project"><!--민정--></section>
		<section class="qna"><!--민정--></section>
		<section class="apply"><!--민정--></section>
		<footer><!--민정--></footer>
</body>
</html>