<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>LikeLion_Skhu</title>
	<!-- font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
	<!--css-->
	<link type="text/css" rel="stylesheet" href="../static/css/base.css">
</head>

<body>
	<!--민정-->
	<header>
		<nav>
			<img class="nav_web_logo" src="../static/img/nav_web_logo.png" alt="logo">
			<img class="nav_mobile_logo" src="../static/img/nav_mobile_logo.png" alt="logo">
		</nav>
	</header>

	<!--은혜-->
	<section class="apply">
		<p>상상을 현실로,<br> IT 연합동아리 멋쟁이사자처럼 SKHU <br>11기 여러분을 환영합니다!</p>
		<button class="apply_btn" type="button" onclick="location.href='#'">지원하기</button>
		
		<span style="box-sizing:border-box;display:block;overflow:hidden;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;position:absolute;top:0;left:0;bottom:0;right:0">
		<img src="../static/img/hackathon.jpeg" alt="hackathon" style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0; min-width:100%; max-width:100%; min-height:100%; max-height:100%; object-fit:cover; filter: brightness(40%);" ></span>
	</section>
	<!--은혜-->
	<section class="information">
		<p class="sub_title">상상을 현실로, <br> IT 연합동아리 멋쟁이사자처럼 SKHU</p>
		<div class="activity_card">
			<article class="activity-description">
				<span>아이디어톤</span>
				<p>비지니스 캔버스 모델을 짜면서 자신의 아이디어를 직접 기획 및 디자인을 할 수 있는 기회와 다른 학교 멋사와 함께 공유할 수 있는 활동</p>
			</article>
			<article class="activity-description">
				<span>해커톤</span>
				<p>자신의 아이디어를 기획하는 데에서 그치는 것이 아닌 직접 다양한 언어나 프레임워크를 배우고 개발하고 그 서비스를 직접 실현하는 활동(+ 중앙 기업연계, 다른 학교와의 공유 가능)</p>
			</article>
			<article class="activity-description">
				<span>다양한 언어와 프레임워크</span>
				<p>html, css, javascript, python 등의 언어를 배워 django, bootstrap 등 프론트엔드, 백엔드 파트의 능력을 모두 배워볼 수 있는 기회</p>
			</article>
			<article class="activity-description">
				<span>친목활동</span>
				<p>성공회대 멋사만의 MT, OT, 조지미 제도, 세미나 등 학교 선배, 후배, 동기와 친해지고 더불어 함께 스터디 할 수 있는 기회</p>
			</article>
		</div>
	</section>
	<!--은혜-->
	<section class="who_when"></section>
	<!--은혜-->
	<section class="curriculum"></section>

	<!--민정-->
	<section class="project"></section>
	<!--민정-->
	<section class="qna"></section>
	<!--민정-->
	<footer></footer>
</body> 
<!-- js -->
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="../static/js/base.js"></script>

</html>