<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>LikeLion_Skhu</title>
	<!-- font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
	<!--css-->
	<link type="text/css" rel="stylesheet" href="../static/css/base.css">
</head>

<body>
	<!--민정-->
	<header>
		<nav>
			<img class="nav_web_logo" src="../static/img/nav_web_logo.png" alt="logo">
			<img class="nav_mobile_logo" src="../static/img/nav_mobile_logo.png" alt="logo">
		</nav>
	</header>

	<!--은혜-->
	<section class="apply">
		<p>상상을 현실로,<br> IT 연합동아리 멋쟁이사자처럼 SKHU <br>11기 여러분을 환영합니다!</p>
		<button class="apply_btn" type="button" onclick="location.href='#'">지원하기</button>
		
		<span style="box-sizing:border-box;display:block;overflow:hidden;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;position:absolute;top:0;left:0;bottom:0;right:0">
		<img src="../static/img/hackathon.jpeg" alt="hackathon" style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0; min-width:100%; max-width:100%; min-height:100%; max-height:100%; object-fit:cover; filter: brightness(40%);" ></span>
	</section>
	<!--은혜-->
	<section class="information">
		<p class="sub_title">상상을 현실로, <br> IT 연합동아리 멋쟁이사자처럼 SKHU</p>
		<div class="activity_card">
			<article class="activity-description">아이디어톤</article>
			<article class="activity-description">해커톤</article>
			<article class="activity-description">다양한 언어와 프레임워크</article>
			<article class="activity-description">친목활동</article>
		</div>
	</section>
	<!--은혜-->
	<section class="who_when"></section>
	<!--은혜-->
	<section class="curriculum"></section>

	<!--민정-->
	<section class="project"></section>
	<!--민정-->
	<section class="qna"></section>
	<!--민정-->
	<footer></footer>
</body> 
<!-- js -->
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="../static/js/base.js"></script>

</html>